<div class="card">
    @if (form) {
        <form [formGroup]="form" class="row g-4">
            <div class="p-formgrid grid">
                 <div class="col-12 col-md-3">
            <label class="form-label">اسم 
المستفيد</label>
            <app-prime-autocomplete
                [formGroup]="form"
                controlName="beneficiaryId"
                [getMethod]="beneficiariesService.getPaged.bind(beneficiariesService)"
                [selectedOption]="selectedBeneficiary"
                [field]="'nameAr'"
                [language]="language"
                (onSelect)="onBeneficiarySelect($event)"
                (onClear)="onBeneficiarySelect(null)"
           
        ></app-prime-autocomplete>
           
        </div>
</div>

            <app-submit-buttons [isSubmitDisabled]="form.invalid || !form.get('beneficiaryId')?.value?.length" [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="redirect()"> </app-submit-buttons>
        </form>
    }
</div>
