<p-tabs [value]="activeTab">
    <p-tablist>
        <p-tab [value]="ActivityTabs.Main">بيانات النشاط</p-tab>
        <p-tab [value]="ActivityTabs.BeneficiaryGroups" [disabled]="!isEditMode">مجموعات المستفيدين</p-tab>
        <p-tab [value]="ActivityTabs.Entities" [disabled]="!isEditMode">جهات التنسيق</p-tab>
    </p-tablist>

    <p-tabpanels>
        <p-tabpanel [value]="ActivityTabs.Main">
            <app-add-edit-activity [embeddedPageType]="pageType"></app-add-edit-activity>
        </p-tabpanel>

        <p-tabpanel [value]="ActivityTabs.BeneficiaryGroups">
            @if (isEditMode) {
                <app-activity-beneficiary-groups [activityIdInput]="activityId"></app-activity-beneficiary-groups>
            }
        </p-tabpanel>

        <p-tabpanel [value]="ActivityTabs.Entities">
            @if (isEditMode) {
                <app-activity-entities [activityIdInput]="activityId"></app-activity-entities>
            }
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
