<div class="card">
    @if (form) {
        <form [formGroup]="form" class="row g-4">
            <div class="col-12 col-md-4">
                <app-prime-input-text [formGroup]="form" controlName="name" [label]="'اسم النشاط'" validatorLanguageType="ar"> </app-prime-input-text>
            </div>

            <div class="col-12 col-md-4">
                <app-prime-input-text [formGroup]="form" controlName="numberOfVolunteers" [label]="'عدد المتطوعين'" contentType="number"> </app-prime-input-text>
            </div>

            <div class="col-12 col-md-4">
                <app-prime-input-text [formGroup]="form" controlName="numberOfBeneficiaries" [label]="'عدد المستفيدين'" contentType="number"> </app-prime-input-text>
            </div>

            <div class="col-12 col-md-4">
                <label class="form-label">المدينة</label>
                <app-prime-autocomplete
                    [formGroup]="form"
                    controlName="cityId"
                    [getMethod]="getCities"
                    [selectedOption]="selectedCity"
                    [field]="'nameAr'"
                    [language]="language"
                    (onSelect)="onCitySelect($event)"
                    (onClear)="onCitySelect({ value: null })"
                >
                </app-prime-autocomplete>
            </div>

            <div class="col-12 col-md-4">
                <label class="form-label">نوع النشاط</label>
                <app-prime-autocomplete
                    [formGroup]="form"
                    controlName="activityTypeId"
                    [getMethod]="getActivityTypes"
                    [selectedOption]="selectedActivityType"
                    [field]="'nameAr'"
                    [language]="language"
                    (onSelect)="onActivityTypeSelect($event)"
                    (onClear)="onActivityTypeSelect({ value: null })"
                >
                </app-prime-autocomplete>
            </div>

            <div class="col-12 col-md-4">
                <label class="form-label">نوع التنفيذ</label>
                <app-prime-autocomplete
                    [formGroup]="form"
                    controlName="executeTypeId"
                    [getMethod]="getExecuteTypes"
                    [selectedOption]="selectedExecuteType"
                    [field]="'nameAr'"
                    [language]="language"
                    (onSelect)="onExecuteTypeSelect($event)"
                    (onClear)="onExecuteTypeSelect({ value: null })"
                >
                </app-prime-autocomplete>
            </div>

            <div class="col-12 col-md-4">
                <app-prime-datepicker [formGroup]="form" controlName="startDate" [label]="'تاريخ البدء'" [rangeMaxControlName]="'endDate'"> </app-prime-datepicker>
            </div>

            <div class="col-12 col-md-4">
                <app-prime-datepicker [formGroup]="form" controlName="endDate" [label]="'تاريخ الانتهاء'" [referenceControlName]="'startDate'"> </app-prime-datepicker>
            </div>

            <div class="col-12 col-md-4">
                <app-prime-datepicker [formGroup]="form" controlName="activityTime" [label]="'وقت النشاط'" [mode]="'time'"> </app-prime-datepicker>
            </div>

            <div class="col-12">
                <app-prime-input-text [formGroup]="form" controlName="notes" [label]="'ملاحظات'" inputType="textarea"> </app-prime-input-text>
            </div>

            <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="redirect()"> </app-submit-buttons>
        </form>
    }
</div>
