@if (form) {
    <form [formGroup]="form" class="row g-4">
        <div class="col-12 col-md-6">
            <app-prime-input-text [formGroup]="form" controlName="name" [label]="'اسم المبادرة'" validatorLanguageType="ar"> </app-prime-input-text>
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label">المجال</label>
            <app-prime-autocomplete
                [formGroup]="form"
                controlName="fieldId"
                [getMethod]="getFields.bind(this)"
                [selectedOption]="selectedField"
                [field]="'nameAr'"
                [language]="language"
                (onSelect)="onFieldSelect($event)"
                (onClear)="onFieldSelect(null)"
            >
            </app-prime-autocomplete>
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label">المدينة</label>
            <app-prime-autocomplete
                [formGroup]="form"
                controlName="cityId"
                [getMethod]="getCities.bind(this)"
                [selectedOption]="selectedCity"
                [field]="'nameAr'"
                [language]="language"
                (onSelect)="onCitySelect($event)"
                (onClear)="onCitySelect(null)"
            >
            </app-prime-autocomplete>
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label">المسئول</label>
            <app-prime-autocomplete
                [formGroup]="form"
                controlName="initiativeMangerId"
                [getMethod]="getManagers.bind(this)"
                [selectedOption]="selectedManager"
                [field]="'nameAr'"
                [language]="language"
                (onSelect)="onManagerSelect($event)"
                (onClear)="onManagerSelect(null)"
            >
            </app-prime-autocomplete>
        </div>

        <div class="col-12">
            <app-prime-input-text [formGroup]="form" controlName="description" [label]="'نبذة مختصرة'" inputType="textarea"> </app-prime-input-text>
        </div>

        <div class="col-6">
            <app-prime-input-text [formGroup]="form" controlName="problemDescription" [label]="'وصف المشكلة'" inputType="textarea"> </app-prime-input-text>
        </div>

        <div class="col-6">
            <app-prime-input-text [formGroup]="form" controlName="suggestedSolution" [label]="'الحل المقترح'" inputType="textarea"> </app-prime-input-text>
        </div>

        <div class="col-6">
            <app-prime-input-text [formGroup]="form" controlName="beneficiaryGroup" [label]="'الفئة المستفيدة'" inputType="textarea"> </app-prime-input-text>
        </div>

        <div class="col-6">
            <app-prime-input-text [formGroup]="form" controlName="expectedImpact" [label]="'الأثر المتوقع'" inputType="textarea"> </app-prime-input-text>
        </div>

        <div class="col-12">
            <app-prime-input-text [formGroup]="form" controlName="stepsExecution" [label]="'خطوات التنفيذ'" inputType="textarea"> </app-prime-input-text>
        </div>

        <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="redirect()"> </app-submit-buttons>
    </form>
}
