<div [ngClass]="this.dialogService.dialogComponentRefMap.size > 0 ? '' : 'card systemBackgroundDialog'">
    <div class="card">

        <div class="title-container">

            @if(this.dialogService.dialogComponentRefMap.size == 0) {
            <div class="mb-3">
                <h1 class="m-0 font-24 font-bold text-primary">{{ pageTitle }}</h1>
            </div>
            }
            @if (form) {
            <form method="post" class="row" [formGroup]="form">


                <div class="col-lg-4">
                    <app-prime-input-text [formGroup]="form" controlName="userName" [label]="'اسم المستخدم'">
                    </app-prime-input-text>
                </div>
                <div class="col-lg-4">
                    <app-prime-input-text [formGroup]="form" controlName="email" [label]="'البريد اللالكتروني'">
                    </app-prime-input-text>
                </div>
                @if (pageType === 'add') {
                <div class="col-lg-4">
                    <app-prime-input-text [formGroup]="form" controlName="password" contentType="password"
                        [label]="'الرقم السري'">
                    </app-prime-input-text>
                </div>
                }
                @if (pageType === 'edit') {
                <div class="col-lg-4">
                    <app-prime-input-text [formGroup]="form" contentType="password" controlName="oldPassword"
                        [label]="'الرقم السري الحالي'">
                    </app-prime-input-text>
                    @if (form.get('oldPassword')?.invalid && form.get('oldPassword')?.touched) {
                    <small class="text-red-500">هذا الحقل مطلوب</small>
                    }
                </div>
                <div class="col-lg-4">
                    <app-prime-input-text [formGroup]="form" contentType="password" controlName="newPassword"
                        [label]="'الرقم السري الجديد'">
                    </app-prime-input-text>
                    @if (form.get('newPassword')?.invalid && form.get('newPassword')?.touched) {
                    <small class="text-red-500">هذا الحقل مطلوب</small>
                    }
                </div>
                <div class="col-lg-4">
                    <app-prime-input-text [formGroup]="form" contentType="password" controlName="confirmPassword"
                        [label]="'تأكيد الرقم السري'">
                    </app-prime-input-text>

                </div>

                }
               
                <div class="col-lg-4">
                    <label class="mb-2">{{ 'الصلاحية' }}</label>
                    <!-- Debug: Show selected role name -->
                    <div *ngIf="selectedRole" class="text-sm text-gray-500 mb-1">
                        Selected: {{ selectedRole.nameAr }}
                    </div>
                    <app-prime-autocomplete [field]="'nameAr'" [selectedOption]="selectedRole" controlName="roleId"
                        [suggestions]="filteredRoles" [formGroup]="form" (onSelect)="onRoleSelect($event)"
                        [lazy]="false" (handleMethod)="getRoles($event)">
                    </app-prime-autocomplete>
                </div>

                 <div class="col-12 col-lg-4 ">
                     <label class="mb-2">{{ 'مسئول النظام' }}</label>
                    <app-prime-check-box [formGroup]="form" controlName="isAdmin" groupName="showGroup" [binary]="true"
                        [label]="''"> </app-prime-check-box>
                </div>

                <!-- <div class="col-lg-6">
                            <label class="mb-2">{{ 'الجهة' }}</label>
                            <app-prime-autocomplete [field]="'nameAr'" [selectedOption]="selectedOrganization"
                                [suggestions]="filteredOrganizations" [formGroup]="form"
                                (onSelect)="onOrganizationSelect($event)" (handleMethod)="getOrganizations.bind(this)"
                                (handleMethod)="getOrganizations($event)"></app-prime-autocomplete>
                        </div> -->
                <!-- <div class="col-lg-6">
                            <label class="mb-2">{{ 'الموظف' }}</label>
                            <app-prime-autocomplete [field]="'nameAr'" [selectedOption]="selectedEmployee"
                                [suggestions]="filteredEmployees" [formGroup]="form"
                                (onSelect)="onEmployeeSelect($event)"  (handleMethod)="getEmployees.bind(this)"
                                (handleMethod)="getEmployees($event)">
                            </app-prime-autocomplete>
                        </div> -->
            </form>
            }
            @if (form) {
            <app-submit-buttons [isSubmitDisabled]="form.invalid"
                [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()"
                (cancel)="redirect()"> </app-submit-buttons>
            }

        </div>
    </div>