<p-tabs [value]="activeTab" >
    <p-tablist>
        <p-tab [value]="InitiativeTabs.Main">البيانات الأساسية</p-tab>
        <p-tab [value]="InitiativeTabs.InitiativeTeams" [disabled]="!isEditMode">فريق المبادرة</p-tab>
        <p-tab [value]="InitiativeTabs.Activity" [disabled]="!isEditMode">الأنشطة</p-tab>
        <p-tab [value]="InitiativeTabs.Media" [disabled]="!isEditMode">متابعةالميديا</p-tab>
    </p-tablist>

    <p-tabpanels>
        <p-tabpanel [value]="InitiativeTabs.Main">
            <app-add-edit-initiative [initiativeId]="initiativeId" [pageType]="pageType"></app-add-edit-initiative>
        </p-tabpanel>

        <p-tabpanel [value]="InitiativeTabs.Activity">
            @if (isEditMode) {
                <app-activities [initiativeId]="initiativeId"></app-activities>
            }
        </p-tabpanel>
         <p-tabpanel [value]="InitiativeTabs.Media">
            @if (isEditMode) {
                <app-mediainitiatives [initiativeId]="initiativeId"></app-mediainitiatives>
            }
        </p-tabpanel>

        <p-tabpanel [value]="InitiativeTabs.InitiativeTeams">
            @if (isEditMode) {
                <app-initiative-teams [initiativeId]="initiativeId"></app-initiative-teams>
            }
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
