<p-tabs [value]="activeTab" >
    <p-tablist>
        <p-tab [value]="InitiativeTabs.Main">البيانات الأساسية</p-tab>
        <p-tab [value]="InitiativeTabs.InitiativeTeams" [disabled]="!isEditMode">فريق المبادرة</p-tab>
        <p-tab [value]="InitiativeTabs.Media" [disabled]="!isEditMode">متابعة الميديا</p-tab>
    </p-tablist>

    <p-tabpanels>
        <p-tabpanel [value]="InitiativeTabs.Main">
            <app-add-edit-initiative [initiativeId]="initiativeId" [pageType]="pageType"></app-add-edit-initiative>
        </p-tabpanel>
         <p-tabpanel [value]="InitiativeTabs.Media">
            @if (isEditMode) {
                <app-media-initiatives [initiativeId]="initiativeId"></app-media-initiatives>
            }
        </p-tabpanel>

        <p-tabpanel [value]="InitiativeTabs.InitiativeTeams">
            @if (isEditMode) {
                <app-initiative-teams [initiativeId]="initiativeId"></app-initiative-teams>
            }
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
