<div class="card">
    @if (form) {
        <form [formGroup]="form" class="row g-4">
            <div class="col-12">
                <label class="form-label">فئات المستفيدين</label>
                <app-prime-autocomplete
                    [formGroup]="form"
                    controlName="beneficiaryGroupId"
                    [getMethod]="getBeneficiaryGroups"
                    [selectedOption]="selectedBeneficiaryGroups"
                    [field]="'nameAr'"
                    [language]="language"
                    [multiple]="true"
                    (onSelect)="onBeneficiaryGroupsSelect($event)"
                    (onClear)="onBeneficiaryGroupsSelect({ value: [] })"
                >
                </app-prime-autocomplete>
            </div>

            <app-submit-buttons
                [isSubmitDisabled]="form.invalid"
                [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'"
                (submit)="submit()"
                (cancel)="redirect()">
            </app-submit-buttons>
        </form>
    }
</div>
