<div class="d-flex flex-column h-100">
    <div class="dataBox">
        <div class="row mb-3">
            <div class="col-12 col-md-4">
                <label class="form-label">النشاط</label>
                <app-prime-autocomplete
                    [getMethod]="getActivities"
                    [selectedOption]="selectedActivity"
                    [field]="'nameAr'"
                    [language]="'ar'"
                    [multiple]="false"
                    (onSelect)="onActivitySelect($event)"
                    (onClear)="onActivityClear()">
                </app-prime-autocomplete>
            </div>
        </div>

        @if (selectedActivityId) {
            <button
                class="main-btn align-self-end font-14 main border-radius-2 py-1 px-2 mt-2 mt-sm-0"
                type="button"
                pButton
                pRipple
                (click)="openAddEditDialog()">
                <div class="d-flex align-items-center">
                    <i class="pi pi-plus p-2"></i>
                    <span class="p-inline-end-1">اضافة</span>
                </div>
            </button>

            @if (tableOptions) {
                <div class="mt-4">
                    <app-prime-data-table
                        (event)="handleEvent($event)"
                        [tableOptions]="tableOptions"
                        [data]="data"
                        [totalCount]="totalCount"
                        [pageSize]="dataTableService.opt.pageSize">
                    </app-prime-data-table>
        </div>
            }
        }
    </div>
</div>
